<div data-title="Intro">
    <div data-role="content">
            <div id="landing-page">
                    <a id="principal" href="#principal_action">
            			<div class="marco">
                			<div class="holder background">
                				<div  class="landing">
                					<h1 class="landing-text">Lunakin</h1>
                        <img src="css/img/logomierdero.png" >
                				</div>
                			</div>
                		</div>
                      </a>  
              </div>
    </div>
</div> 


<script type="text/javascript">

$(document).ready(function(){
    setTimeout(changaPrincipal,1000);
});


function changaPrincipal(){
    //alert("cambia");
    $('.marco').click();
}
    TouchH.setActive("a",'active3');



</script>