<div data-title="Intro">
    <div data-role="content">
            <div id="landing-page">
                    <a href="#principal_action">
            			<div class="marco">
                			<div class="holder background">
                				<div  class="landing">
                					<h1 class="landing-text">Lunakin</h1>
                        <img src="css/img/logomierdero.png" >
                				</div>
                			</div>
                		</div>
                      </a>  
              </div>
    </div>
</div> 


<script>

    TouchH.setActive("a",'active3');



</script>