<div class="marco">
            <div class="holder">
                <div class="header">
                <a href="#">
                    <div class="header-row">
                        <div class="calendar-holder">
                            <div class="position-1">
                                <img src="css/img/dia/4.png">
                            </div>
                            <div class="calendar position-2">
                                <h1 class="day">2</h1>
                            </div>
                        <div class="position-3">
                            <img src="css/img/mes/1.png">
                        </div>
                    </div>
                    </div>
                </a>
                    <div class="header-row set">
                        <img src="css/img/logo-1.png" style="width:70%; margin-top:5%;">
                    </div>
                    <a href="lunaciones.html"> 
                        <div class="header-row">
                            <img src="css/img/luna.png" class="luna">
                            <span class="z-11 position-fixed"></span>
                        </div>
                    </a>
                </div>
                <a href="#">
                <div class="title">
                    <div class="calendar-row">
                        <h1><em class="border">Primera Lunación</em></h1>
                    </div>
                </div>
            </a>
                <div class="moon3">
                    <div class="scroll-inner">
                    <div class="calendar-conteiner">
                        <img class="align-calendar border2" src="css/img/l1.png"/>
                
                </div>
                </div>
            </div>
            <div class="correcion">
            </div>
                <div class="decreto">
                    <div class="txt">
                        <h1>Soy mi contribución al todo</h1>
                    </div>
                    <div class="nav3">
                        <img class="logo-decreto" src="css/img/logo.jpg">
                    </div>
                </div>
                <div class="decreto">
                    <div class="nav">
                        <img src="css/img/menu.png">
                        <div id="flow">
                            <a href="ayuda.html">
                            <div class="row">
                                <p>Ayuda</p>
                            </div>  
                            </a>  
                            <a href="info.html">                      
                            <div class="row">
                                <p>Servicios</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <h1>Luna creciente en Capricornio</h1>
                </div>
        </div> 
    </div> 