
<div class="marco">
            <div class="holder">
                <div class="header">
                <a href="#">
                    <div class="header-row">
                        <div class="calendar-holder">
                            <div class="position-1">
                                <img src="css/img/dia/4.png">
                            </div>
                            <div class="calendar position-2">
                                <h1 class="day">2</h1>
                            </div>
                        <div class="position-3">
                            <img src="css/img/mes/1.png">
                        </div>
                    </div>
                    </div>
                </a>
                    <div class="header-row set">
                        <img src="css/img/logo-1.png" style="width:70%; margin-top:5%;">
                    </div>
                    <a href="lunaciones.html"> 
                        <div class="header-row">
                            <img src="css/img/luna.png" class="luna">
                            <span class="z-11 position-fixed"></span>
                        </div>
                    </a>
                </div>
                                   <div class="nav2">
                        <img src="css/img/arrow-down.png" >
                        <div id="flow2">
                            <div class="row2">
                                <p><a href="#">Enero</a></p>
                            </div>  
                            <div class="row2">
                                <p><a href="#">Febrero</a></p>
                            </div>   
                                                        <div class="row2">
                                <p><a href="#">Marzo</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Abril</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Mayo</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Junio</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Julio</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Agosto</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Septiembre</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Octubre</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Noviembre</a></p>
                            </div> 
                                                        <div class="row2">
                                <p><a href="#">Diciembre</a></p>
                            </div> 

                        </div>
                    </div>
                <div class="moon2">
                    <div class="scroll-inner">
                    <div class="calendar-conteiner">
                <div class="box2">
                    <p class="week" style="text-aling:left; margin-left:0px !important; border-bottom:solid 1px #fff;">lun</p>
                    <h1>&nbsp</h1>
                    <span class="z-0"></span>
                    <img src="css/img/luna_thmb/0.png">
                </div>
                <div class="box2">
                    <p class="week" style="text-aling:left; margin-left:0px !important; border-bottom:solid 1px #fff;">mar</p>
                    <h1>&nbsp</h1>
                    <span class="z-0"></span>
                    <img src="css/img/luna_thmb/0.png">

                </div>
                <div class="box2">
                    <p class="week" style="text-aling:left; margin-left:0px !important; border-bottom:solid 1px #fff;">mie</p>
                    <h1>1</h1>
                    <span class="z-1"></span>
                    <img src="css/img/luna_thmb/1.png">
                </div>
                <div class="box2">
                    <p class="week" style="text-aling:left; margin-left:0px !important; border-bottom:solid 1px #fff;">jue</p>
                    <h1 class="active-box">2</h1>
                    <span class="z-11"></span>
                    <img src="css/img/luna_thmb/2.png">
                </div>
                <div class="box2">
                    <p class="week" style="text-aling:left; margin-left:0px !important; border-bottom:solid 1px #fff;">vie</p>
                    <h1>3</h1>
                    <span class="z-11"></span>
                    <img src="css/img/luna_thmb/3.png">
                </div>
                <div class="box2">
                    <p class="week" style="text-aling:left; margin-left:0px !important; border-bottom:solid 1px #fff;">sáb</p>
                    <h1>4</h1>
                    <span class="z-12"></span>
                    <img src="css/img/luna_thmb/4.png">
                </div>
                <div class="box2">
                    <p class="week" style="text-aling:left; margin-left:0px !important; border-bottom:solid 1px #fff;">dom</p>
                    <h1>5</h1>
                    <span class="z-1"></span>
                    <img src="css/img/luna_thmb/5.png">
                </div>
                <div class="box">
                    <h1>6</h1>
                    <span class="z-1"></span>
                    <img src="css/img/luna_thmb/6.png">
                </div>
                <div class="box">
                    <h1>7</h1>
                    <span class="z-1"></span>
                    <img src="css/img/luna_thmb/7.png">
                </div>
                <div class="box">
                    <h1>8</h1>
                    <span class="z-2"></span>
                    <img src="css/img/luna_thmb/8.png">
                </div>
                <div class="box">
                    <h1>9</h1>
                    <span class="z-2"></span>
                    <img src="css/img/luna_thmb/9.png">
                </div>
                <div class="box">
                    <h1>10</h1>
                    <span class="z-3"></span>
                    <img src="css/img/luna_thmb/10.png">
                </div>
                <div class="box">
                    <h1>11</h1>
                    <span class="z-3"></span>
                    <img src="css/img/luna_thmb/11.png">
                </div>
                <div class="box">
                    <h1>12</h1>
                    <span class="z-3"></span>
                    <img src="css/img/luna_thmb/12.png">
                </div>
                <div class="box">
                    <h1>13</h1>
                    <span class="z-3"></span>
                    <img src="css/img/luna_thmb/13.png">
                </div>
                <div class="box">
                    <h1>14</h1>
                    <span class="z-4"></span>
                    <img src="css/img/luna_thmb/14.png">
                </div>
                <div class="box">
                    <h1>15</h1>
                    <span class="z-4"></span>
                    <img src="css/img/luna_thmb/15.png">
                </div>
                <div class="box">
                    <h1>16</h1>
                    <span class="z-5"></span>
                    <img src="css/img/luna_thmb/16.png">
                </div>
                <div class="box">
                    <h1>17</h1>
                    <span class="z-6"></span>
                    <img src="css/img/luna_thmb/17.png">
                </div>
                <div class="box">
                    <h1>18</h1>
                    <span class="z-6"></span>
                    <img src="css/img/luna_thmb/18.png">
                </div>
                <div class="box">
                    <h1>19</h1>
                    <span class="z-6"></span>
                    <img src="css/img/luna_thmb/19.png">

                </div>
                <div class="box">
                    <h1>20</h1>
                    <span class="z-7"></span>
                    <img src="css/img/luna_thmb/20.png">
                </div>
                <div class="box">
                    <h1>21</h1>
                    <span class="z-7"></span>
                    <img src="css/img/luna_thmb/21.png"/>
                </div>
                <div class="box">
                    <h1>22</h1>
                    <span class="z-7"></span>
                    <img src="css/img/luna_thmb/22.png"/>
                </div>
                <div class="box">
                    <h1>23</h1>
                    <span class="z-7"></span>
                    <img src="css/img/luna_thmb/23.png">
                </div>
                <div class="box">
                    <h1>24</h1>
                    <span class="z-8"></span>
                    <img src="css/img/luna_thmb/24.png"/>
                </div>
                <div class="box">
                    <h1>25</h1>
                    <span class="z-8"></span>
                    <img src="css/img/luna_thmb/25.png"/>
                </div>
                <div class="box">
                    <h1>26</h1>
                    <span class="z-9"></span>
                    <img src="css/img/luna_thmb/26.png">
                </div>
                <div class="box">
                    <h1>27</h1>
                    <span class="z-10"></span>
                    <img src="css/img/luna_thmb/27.png">
                </div>
                <div class="box">
                    <h1>28</h1>
                    <span class="z-10"></span>
                    <img src="css/img/luna_thmb/28.png"/>
                </div>
                <div class="box">
                    <h1>29</h1>
                    <span class="z-10"></span>
                    <img src="css/img/luna_thmb/29.png"/>
                </div>
                <div class="box">
                    <h1>30</h1>
                    <span class="z-11"></span>
                    <img src="css/img/luna_thmb/30.png"/>
                </div>
                <div class="box last">
                    <h1>31</h1>
                    <span class="z-12"></span>
                    <img src="css/img/luna_thmb/0.png"/>
                </div>
                </div>
                </div>
                </div>
                <div class="decreto">
                    <div class="txt">
                        <h1>Soy mi contribución al todo</h1>
                    </div>
                    <div class="nav3">
                        <img class="logo-decreto" src="css/img/logo.jpg"/>
                    </div>
                </div>
                <div class="decreto">
                    <div class="nav">
                        <img src="css/img/menu.png">
                        <div id="flow">
                            <a href="ayuda.html">
                            <div class="row">
                                <p>Ayuda</p>
                            </div>  
                            </a>  
                            <a href="info.html">                      
                            <div class="row">
                                <p>Servicios</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <h1>Luna Creciente en Acuario</h1>
                </div>
        </div> 
    </div> 
