<div class="marco">
					<div class="holder">
                <div class="header">
                <a href="#calendario">
                    <div class="header-row">
                        <div class="calendar-holder">
                            <div class="position-1">
                                <img id="dia_nombre" src="css/img/dia/4.png">
                            </div>
                            <div class="calendar position-2">
                                <h1 id="dia_num" class="day">2</h1>
                            </div>
                        <div class="position-3">
                            <img id="mes_nombre" src="css/img/mes/1.png">
                        </div>
                    </div>
                    </div>
                </a>
                    <div class="header-row set">
                        <img src="css/img/logo-1.png" style="width:70%; margin-top:5%;">
                    </div>
                    <a href="#lunaciones"> 
                        <div class="header-row">
                            <img src="css/img/luna.png" class="luna">
                            <span id="imagen_signo" class="z-11 position-fixed"></span>
                        </div>
                    </a>
                </div>
				<div class="side-left">
					<p><em>semana 50</em></p>
					<h1 id="sol_signo_nombre">Sol en signo</h1>
				</div>
				<div class="side-right">
					<p><em id="num_lunacion">Primera Lunación</em></p>
					<h1 id="estacion">Estacion</h1>
				</div>
				<div id="eclipse" class="side-left">
					Eclipse
				</div>
				<div class="moon">
					<div class="swiper-container"  style="height: 100%;">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="css/img/10.png">
							</div>
							<div class="swiper-slide">
								<img src="css/img/11.png">
							</div>
							<div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div><div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div><div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div><div class="swiper-slide">
								<img src="css/img/12.png">
							</div><div class="swiper-slide">
								<img src="css/img/12.png">
							</div><div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div><div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
                            <div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
						</div>
					</div>
				</div>
			<div class="side-left">
				<h1 id="horario_verano" class="small">Horario de verano</h1>
				</div>
				<div class="side-right">
					<h1 id="lfc" class="small">LFC 2:30 - 4:15</h1>
				</div>
				<div class="side-left" style="width:21%;">
					<h1 class="inline-block">R</h1><img src="css/img/mercurio.png" class="inline-block pic">
				</div>
				<div class="side-right aspecto">
					<p id="aspecto_astrologico">aspecto astrologico</p>
				</div>

                <div class="decreto">
                    <div class="txt">
                        <h1 id="decreto">Soy mi contribución al todo</h1>
                    </div>
                    <div class="nav3">
                        <img class="logo-decreto" src="css/img/logo.jpg">
                    </div>
                </div>
                <div class="decreto">
                    <div class="nav">
                        <img src="css/img/menu.png">
                        <div id="flow">
						<a href="#ayuda">
                            <div class="row">
                                <p>Ayuda</p>
                            </div>  
                            </a>
                            <a href="#info">                       
                            <div class="row">
                                <p>Servicios</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <h1>Luna creciente en Capricornio</h1>
                </div>

		</div> 
	</div> 
        
  <script>
        var f = new Date();
var hoy=f.getDate() + "-" + (f.getMonth() +1) + "-" + f.getFullYear();
   // alert(hoy);
    
    var meses = new Array ("Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic");
    var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
    
    db.transaction(queryFaseLunar,errorCB);
    db.transaction(queryEclipse,errorCB);
    db.transaction(queryDecreto,errorCB);
    db.transaction(queryLfc,errorCB);
    
    $("#dia_num").html(f.getDate());
    $("#dia_nombre").html(diasSemana[f.getDay()]);
    $("#mes_nombre").html(meses[f.getMonth()]);
    
    
    
    var mySwiper = new Swiper('.swiper-container',{
    //Enable Scrollbar
        scrollbar: {
        container :'.swiper-scrollbar',
        hide: true,
        draggable: true
         },
       /* onSlideChangeStart: function (swiper) {
                alert("inicio");
                console.log('slide change start - before');
                console.log(swiper);
                console.log(swiper.activeIndex);
                //before Event use it for your purpose
            },
       */
        onSlideChangeEnd: function (swiper) {
        
                //var f = new Date();
                f.setDate(f.getDate()+1);
                //alert(f.getDate());
                //alert(f.getDate());
                //alert(f.getDate());
                //alert(hoy);
                hoy=f.getDate() + "-" + (f.getMonth() +1) + "-" + f.getFullYear();
                //alert(hoy);
                
                $("#dia_num").html(f.getDate());
                $("#dia_nombre").html(diasSemana[f.getDay()]);
                $("#mes_nombre").html(meses[f.getMonth()]);
                
                db.transaction(queryFaseLunar,errorCB);
                db.transaction(queryEclipse,errorCB);
                db.transaction(queryDecreto,errorCB);
                db.transaction(queryLfc,errorCB);
                
                
            
                //alert("final");
                //alert(swiper.activeIndex);
                //console.log('slide change end - after');
                //console.log(swiper);
                //console.log(swiper.activeIndex);
                //after Event use it for your purpose
                if (swiper.activeIndex == 1) {
                    //First Slide is active
                    console.log('First slide active')
                }
            }
   
    })
    </script> 