<div class="marco">
					<div class="holder">
                <div class="header">
                <a href="#">
                    <div class="header-row">
                        <div class="calendar-holder">
                            <div class="position-1">
                                <img src="css/img/dia/4.png">
                            </div>
                            <div class="calendar position-2">
                                <h1 class="day">2</h1>
                            </div>
                        <div class="position-3">
                            <img src="css/img/mes/1.png">
                        </div>
                    </div>
                    </div>
                </a>
                    <div class="header-row set">
                        <img src="css/img/logo-1.png" style="width:70%; margin-top:5%;">
                    </div>
                    <a href="lunaciones.html"> 
                        <div class="header-row">
                            <img src="css/img/luna.png" class="luna">
                            <span class="z-11 position-fixed"></span>
                        </div>
                    </a>
                </div>
				<div class="side-left">
					<p><em>semana 50</em></p>
					<h1>Sol en signo</h1>
				</div>
				<div class="side-right">
					<p><em>Primera Lunación</em></p>
					<h1>Estacion</h1>
				</div>
				<div class="side-left">
					Eclipse
				</div>
				<div class="moon">
					<div class="swiper-container"  style="height: 100%;">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="css/img/10.png">
							</div>
							<div class="swiper-slide">
								<img src="css/img/11.png">
							</div>
							<div class="swiper-slide">
								<img src="css/img/12.png">
							</div>
						</div>
					</div>
				</div>
			<div class="side-left">
				<h1 class="small">Horario de verano</h1>
				</div>
				<div class="side-right">
					<h1 class="small">LFC 2:30 - 4:15</h1>
				</div>
				<div class="side-left" style="width:21%;">
					<h1 class="inline-block">R</h1><img src="css/img/mercurio.png" class="inline-block pic">
				</div>
				<div class="side-right aspecto">
					<p>aspecto astrologico</p>
				</div>

                <div class="decreto">
                    <div class="txt">
                        <h1>Soy mi contribución al todo</h1>
                    </div>
                    <div class="nav3">
                        <img class="logo-decreto" src="css/img/logo.jpg">
                    </div>
                </div>
                <div class="decreto">
                    <div class="nav">
                        <img src="css/img/menu.png">
                        <div id="flow">
						<a href="ayuda.html">
                            <div class="row">
                                <p>Ayuda</p>
                            </div>  
                            </a>
                            <a href="info.html">                       
                            <div class="row">
                                <p>Servicios</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <h1>Luna creciente en Capricornio</h1>
                </div>

		</div> 
	</div> 
        
  <script src="js/idangerous.swiper-2.1.min.js"></script>
    <script src="js/idangerous.swiper.scrollbar-2.1.js"></script>
    <script>
    var mySwiper = new Swiper('.swiper-container',{
    //Enable Scrollbar
    scrollbar: {
    container :'.swiper-scrollbar',
    hide: true,
    draggable: true
    }
    })
    </script> 