		<div class="marco">
			<div class="holder">
				<div class="header">
					<div class="notification">
						<img src="css/img/logo.jpg">
						<textarea value="texto o promoción"></textarea>
					</div>
					<div class="nav">
						<img src="css/img/menu.png">
						<div id="flow">
							<div class="row">
								<p>Ahora</p>
							</div>
							<div class="row">
								<p>Por mes</p>
							</div>
							<div class="row">
								<p>Luna llena siguiente</p>
							</div>
							<div class="row">
								<p><a href="dashboard.html">Dashboard</a></p>
							</div>
						</div>
					</div>
					<div class="nav-1">
						<img src="css/img/calendar.png">
					</div>
				</div>
				<div class="date">
					<p>Bienvenido <span id="name">Ion Oliver</span></p>
					<p>DOM, 1 de Noviembre de 2013</p>
					<strong><em><p>Luna Fuera de curso</p></em></strong>
				</div>
				<div class="moon">
					<div class="doble-row top">
						<div class="fix">
							<p><strong>FASE LUNAR</strong></p>
							<br/>
							<div class="dashboard-1">
								<img src="css/img/1.png">
							</div>
							<div class="dashboard-1">
								<small>Sal. sol 6:55</small>
								<br/>
								<small>Pue. sol 17:55</small>
								<br/>
								<small>Sal. luna 7:30</small>
								<br/>
								<small>Pue. luna 18:59 </small>
							</div>
						</div>
					</div>
					<div class="row-dashboard dashboard-last top">
						<div class="fix">
							<p><strong>SOL EN SIGNO</strong></p>
							<br/>
							<small>24/12/13</small>
							<br/>
							<small>10:00 a 22:30</small>
							<br/>
							<span class="z-2"></span> 

						</div>
					</div>
					<div class="row-dashboard">
						<div class="fix">
						<p><strong>ESTACIÓN</strong></p>
						<br/>
						<small>INVIERNO</small>
						<br/>
						<small>EQUINOCCIO</small>
						<br/>
						<small>22/12/13</small>
						<br/>
						<small>22:00 hrs</small>
						</div>
					</div>	
					<div class="row-dashboard">
						<div class="fix">
						<p><strong>HORARIO</strong></p>
						<br/>
						<small>VERANO</small>
						</div>
					</div>
					<div class="row-dashboard dashboard-last">
						<div class="fix">
							<p><strong>ECLIPSES</strong></p>
							<br/>
							<small>ECLIPSE SOLAR</small>
							<br/>
							 <small>20/12/13</small>
							 <br/>
							 <small>14:00 hrs</small>
							 <br/>
							 <span class="z-4"></span>
						</div>
					</div>
				</div>
			</div>
		</div>  
	 <script src="js/idangerous.swiper-2.1.min.js"></script>
    <script src="js/idangerous.swiper.scrollbar-2.1.js"></script>
    <script>
    var mySwiper = new Swiper('.swiper-container',{
    //Enable Scrollbar
    scrollbar: {
    container :'.swiper-scrollbar',
    hide: true,
    draggable: true
    }
    })
    </script> 

<!--Ion Oliver G.Pirez Diciembre 2013-->
